div {
  transform: translate(50px, 100px);
}


div {
  transform: rotate(20deg);
}



div {
  transform: rotate(-20deg);
}


div {
  transform: scale(2, 3);
}


div {
  transform: scale(0.5, 0.5);
}


div {
  transform: scaleX(2);
}


div {
  transform: scaleX(0.5);
}


div {
  transform: scaleY(3);
}


div {
  transform: scaleY(0.5);
}


div {
  transform: skewX(20deg);
}


div {
  transform: skewY(20deg);
}


div {
  transform: skew(20deg, 10deg);
}


div {
  transform: skew(20deg);
}


div {
  transform: matrix(1, -0.3, 0, 1, 0, 0);
}