/* CSS Padding
The CSS padding properties are used to generate space around an element's content, inside of any defined borders.

With CSS, you have full control over the padding. There are properties for setting the padding for each side of an element (top, right, bottom, and left). */

div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/* Padding - Shorthand Property */

div {
  padding: 25px 50px 75px;
}


div {
  padding: 25px 50px;
}


div {
  padding: 25px;
}


/* Padding and Element Width */

div {
  width: 300px;
  padding: 25px;
}


div {
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
}

