/* CSS Border Color
The border-color property is used to set the color of the four borders. */

p.one {
  border-style: solid;
  border-color: red;
}

p.two {
  border-style: solid;
  border-color: green;
}

p.three {
  border-style: dotted;
  border-color: blue;
}

/* Specific Side Colors
The border-color property can have from one to four values (for the top border, right border, bottom border, and the left border).  */

p.one {
  border-style: solid;
  border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
}

/* HEX Values
The color of the border can also be specified using a hexadecimal value (HEX): */

p.one {
  border-style: solid;
  border-color: #ff0000; /* red */
}

/* RGB Values
Or by using RGB values: */

p.one {
  border-style: solid;
  border-color: rgb(255, 0, 0); /* red */
}

/* HSL Values
You can also use HSL values: */

p.one {
  border-style: solid;
  border-color: hsl(0, 100%, 50%); /* red */
}

