/* Override The Default Display Value
As mentioned, every element has a default display value. However, you can override this.

Changing an inline element to a block element, or vice versa, can be useful for making the page look a specific way, and still follow the web standards. */


li {
  display: inline;
}



span {
  display: block;
}


a {
  display: block;
}


h1.hidden {
  display: none;
}


h1.hidden {
  visibility: hidden;
}


