/* CSS Border - Shorthand Property
Like you saw in the previous page, there are many properties to consider when dealing with borders. */

p {
  border: 5px solid red;
}


p {
  border-left: 6px solid red;
}

p {
  border-bottom: 6px solid red;
}

