.grid-container {
display: grid;
  grid-template-columns: auto auto auto auto;
}


.grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto 40px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

