img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}


img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 80% 100%;
}


img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 15% 100%;
}