/* Margin - Individual Sides
CSS has properties for specifying the margin for each side of an element:
 */

 p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

/* Margin - Shorthand Property
To shorten the code, it is possible to specify all the margin properties in one property. */

p {
  margin: 25px 50px 75px 100px;
}


p {
  margin: 25px 50px 75px;
}

p {
  margin: 25px 50px;
}

p {
  margin: 25px;
}

/* The auto Value
You can set the margin property to auto to horizontally center the element within its container. */

div {
  width: 300px;
  margin: auto;
  border: 1px solid red;
}

/* The inherit Value
This example lets the left margin of the <p class="ex1"> element be inherited from the parent element (<div>): */

div {
  border: 1px solid red;
  margin-left: 100px;
}

p.ex1 {
  margin-left: inherit;
}

