/* CSS background-color
The background-color property specifies the background color of an element. */

body {
  background-color: lightblue;
}

/* Other Elements
You can set the background color for any HTML elements: */

h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}

/* Opacity / Transparency
The opacity property specifies the opacity/transparency of an element. It can take a value from 0.0 - 1.0. The lower value, the more transparent: */

div {
  background-color: green;
  opacity: 0.3;
}

/* Transparency using RGBA
If you do not want to apply opacity to child elements, like in our example above, use RGBA color values. The following example sets the opacity for the background color and not the text: */

div {
  background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}

