/* Center Align Elements
To horizontally center a block element (like <div>), use margin: auto; */

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

/* Center Align Text
To just center the text inside an element, use text-align: center; */

.center {
  text-align: center;
  border: 3px solid green;
}

/* Center an Image
To center an image, set left and right margin to auto and make it into a block element: */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

